body {
    min-width: 1440px;
    color: #AE7C78;
    background: #E5E5E5;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
a {
    color: #FFFFFF;
}
button {
    background-color: #E5E5E5;
    cursor: pointer;
    border: none;
}
/* Обёртка */
.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

/* ХЕДЕР */
.page-header-list-item-1 a,
.page-header-list-item-2 a {
    color: #AE7C78;
}

/* .page-header { */
.page-header-nav {
    position: relative;
    display: flex;
    margin-top: 27px;
    margin-bottom: 52px;
    padding: 15px 0;
}

.page-header li:hover {
    opacity: 0.6;
}


.page-header-list-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header-list-item-1 {
    margin-right: 102px;
}
.page-header-list-item-1:last-child {
    margin-right: 0;
}
.page-header-list-item-1:first-child {
    margin-left: 120px;
}
.page-header-list-item-2:last-child {
    margin-right: 120px;
}
.page-header-list-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.page-header-list-item-2 {
    margin-right: 89px;
}
.page-header-list-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 62px 0 64px;    
}
/* Полосы */
.page-header-nav::before {
    position: absolute;
    top: -5px;
    left: 0;
    display: block;
    content: '';
    min-width: 100%;
    border-top: 1px solid #AE7C78;
    color: #AE7C78;
}

.page-header-nav::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    min-width: 100%;
    border-top: 1px solid #AE7C78;
    color: #AE7C78;
}


/* АВТОРСКИЕ БУКЕТЫ */
.author-bouquet {
    display: flex;
   margin-bottom: 48px;
}
.author-bouquet-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.author-bouquet-title {
    max-width: 386px;
    margin-bottom: 24px;

    font-family: 'Playfair Display', serif; 
    font-size: 44px;
    font-weight: 400;
    line-height: 59px;
}

.author-bouquet-title-span {
    font-style: italic;
}

.author-bouquet-text {
    max-width: 384px;
    margin-bottom: 65px;
    font-size: 24px;
    line-height: 29px;
}

.author-bouquet-input {
    min-width: 285px;
    min-height: 80px;
    color: #ffffff;
    border-radius: 40px;
    background-color: #D89999;
}

.author-bouquet-right {
    display: flex;
}

.author-bouquet-right-img1 {
    min-height: 404px;
    min-width: 386px;
    padding-top: 88px;
    margin-right: 22px;
    border-radius: 10px;
}

.author-bouquet-right-img2 {
    width: 387px;
    height: 420px;
    margin-top: 30px;
    border-radius: 10px;
}

/* Преимущеcтва*/
.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.features-title {
    margin-bottom: 10px;
}

.features-left,
.features-right,
.features-mid {
    display: flex;
}
.features-left-img,
.features-right-img {
    margin-right: 19px;
}
.features-left-title-text,
.features-mid-title-text,
.features-right-title-text {
    max-width: 285px;
}
.features-mid {
    padding-left: 15px;
}
.features-mid-img {
    margin-right: 30px;
}



/* Популярные букеты */
.popular-bouqet {
    position: relative;
    max-width: 794px;
    min-height: 546px;
    margin: 0 auto 80px auto;
}
.popular-bouqet-top-title {
    max-width: 372px;
    margin: 0 auto 63px auto; 
    padding-left: 15px;

    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;
}

.popular-bouqet-title-text {
    display: flex;
    flex-direction: column;
    max-width: 387px;
}
.popular-bouqet-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 21px;
}
.popular-bouqet-text,
.popular-bouqet-size {
    margin-bottom: 24px;
}

.popular-bouqet-price {
    margin-bottom: 64px;

    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.btn {
    min-width: 285px;
    min-height: 80px;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    background-color: #D89999;
    box-shadow: 0 1px 4px 0 black;
    transition: 0.2s ease;    
}

.btn:hover {
    box-shadow: 0 0 0 0;
}

.popular-bouqet-img {
    position: absolute;
    bottom: 25px;
    right: 0px;
}


/* СТРЕЛКИ */
.previous {
    position: absolute;
    bottom: -13px;
    left: 325px;
    padding: 5px 10px;
}

.next {
    position: absolute;
    bottom: -13px;
    right: 325px;
    padding: 5px 10px;
}
.previous:hover,
.next:hover {
    opacity: 0.3;
}


/* ПРЕДЛОЖЕНИЯ */
.all-offers {
    display: flex;
    margin-bottom: 80px;
    color: #FFFFFF;
}

.offer-1-title,
.offer-2-title,
.offer-3-title {
    margin-bottom: 8px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(174, 124, 120, 0.6) no-repeat 0 0;
}

.offer:hover {
    background-color: transparent;
}

.bg-1, .bg-2, .bg-3 {
    height: 442px;
    width: 387px;
    margin-right: 19px;
    border-radius: 10px;
}

.all-offers a {
    color: white;
    text-align: center;
}

.bg-1 {
    background-image: url('/img/свадебный_букет.png');
}
.bg-2 {
    background-image: url('/img/букет_пионы.png');
}
.bg-3 {
    background-image: url('/img/выбрать_букет.png');
    margin-right: 0px;
}


/* SALE10% */
.first-order {
    position: relative;
    width: 100%;
    min-height: 391px;
    margin-bottom: 80px;

    background: #AE7C78;
    color: #FFFFFF;
}

.first-order-left {
    display: flex;
    flex-direction: column;
    padding-left: 102px;
    padding-top: 40px;
}

.first-order-title {
    max-width: 488px;
    margin-bottom: 24px;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 59px;
}

.first-order-text {
    max-width: 387px;
    font-size: 24px;
    line-height: 29px;
}

.first-order-img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 590px;
    min-height: 391px;
}


/* 4 ШАГА К ИДЕАЛЬНОМУ БУКЕТУ */
.steps-title {
    margin-bottom: 96px;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}

.steps-first,
.steps-second,
.steps-third,
.steps-fourth {
    position: relative;
    min-height: 68px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 305px);
    margin-bottom: 78px;
}

.steps h5 {
    padding-top: 3px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.steps p {
    text-align: center;
}

.steps-first-img {
    position: absolute;
    top: -60px;
    left: 110px;
}
.steps-second-img {
    position: absolute;
    top: -60px;
    left: 125px;
}
.steps-third-img {
    position: absolute;
    top: -60px;
    left: 108px;
}
.steps-fourth-img {
    position: absolute;
    top: -60px;
    left: 100px;
}

.steps-third,
.steps-fourth,
.steps-first-text,
.steps-second-text,
.steps-first-title,
.steps-second-title {
    padding-right: 20px;
}


/* СЛЕДИТЕ ЗА НОВОСТЯМИ */
.news {
    display: flex;
    margin-bottom: 75px
}

.news-left {
    display: flex;
    flex-direction: column;
    max-width: 387px;
}

.news-left-title {
    padding-top: 68px;
    margin-bottom: 40px;

    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;
}

.news-left-text {    
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.news-left-img-1,
.news-left-img-2,
.news-left-img-3 {
    padding-right: 7px;
    padding-left: 7px;
}
.news-left-img-1:hover,
.news-left-img-2:hover,
.news-left-img-3:hover {
    opacity: 0.5;
}

/* ФОТОГРАФИИ НОВОСТИ */
.news-photos {
    display: flex;
    margin-left: auto;
}
.news-right-mid {
    display: flex;
    flex-direction: column;
}

.news-right-img-1,
.news-right-img-2 {
    margin-right: 20px;
    min-width: 285px;
    min-height: 220px;
}
.news-right-img-1 {
    padding-bottom: 20px;
}
.news-right-img-3 {
    min-width: 387px;
    max-height: 460px;
}


/* ОТЗЫВЫ */
.review {
    margin-bottom: 80px;
    border: 1px solid #AE7C78;
}

.review-flex {
    display: flex;
    justify-content: space-around;
}

.review-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 40px 0;
}
.review-item .review-item-text {
    max-width: 290px;    
    margin-bottom: 16px;
    text-align: center;
}
.review-item .review-item-name {
    max-width: 290px;
    margin-bottom: 62px;
    font-weight: 500;
    text-align: center;
}


/* КАРТА */
.map {
    position: relative;
    width: 100%;
    min-height: 644px;
    background-image: url('/img/карта.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-info {
    position: absolute;
    top: 52px;
    left: 222px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    min-width: 350px;
    padding-left: 35px;

    border-radius: 10px;
    background-color: white;
}
.map-info-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 48px;
    padding-top: 40px;
    margin-bottom: 38px;
}
.map-info-adress,
.map-info-worktime,
.map-info-tel,
.map-info-mail {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.map-info-hello {
    margin-bottom: 18px;   
}

.map-info-adress {
    max-width: 245px;
    margin-bottom: 32px;
    text-align: left;
}

.map-info-worktime,
.map-info-tel {
    margin-bottom: 29px;
}
.map-info-callus,
.map-info-operatingmode,
.map-info-textus {
    margin-bottom: 13px;   
}

.map-info-mail {
    margin-bottom: 65px;
} 


/* ФУТЕР */
.page-footer {
    display: flex;
    align-items: center;
    padding: 25px 0 32px 0;

    background-color: #AE7C78;
    color: #FFFFFF;
}

.footer-left {
    margin-left: 125px;
    margin-right: 102px;
}

.footer-mid-ul li {
    padding-bottom: 5px;
    margin-right: 68px;
}

.footer-mid-ul li:hover {
    opacity: 0.6;
}

.footer-mid-ul li:last-child {
    padding-bottom: 5px;
    margin: 0;
}

.footer-mid-ul {
    display: flex;
    align-items: center;
    margin-right: 106px;
}

.footer-right img {
    margin-right: 10px;
    padding: 5px;
}
.footer-right img:hover {
    opacity: 0.6;
}