/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
/* background: #AE7C78; телесный */
/* border: 1px solid #AE7C78; */

body, ul, li {
    padding: 0;
    margin: 0;
}